 <div class="reminder">
   <p class ="name">  <strong>Event: <%= reminder.reminder_name %></strong>  </p>
   <p class ="name">  <strong>Start Time: <%= reminder.reminder.start_time %></strong>  </p>

</div>
