<h2><%= @reminder.reminder_name %></h2>

<section class="reminder">
  <dl>

    <dt>Start Time</dt>
    <dd><%= @reminder.start_time %></dd>

    <dt>Date</dt>
    <dd><%= @reminder.date%></dd>

    <dt>Duration</dt>
    <dd><%= @reminder.duration %></dd>

   </dl>
</section>

