
#title-wrap {
  padding: 5% 15%;
  margin-left: auto;
  margin-right: auto;

  #moneta {
    display: inline-block;
    padding: 10px;
  }

  #moneta-goddess {
    display: inline-block;
    padding: 10px;
  }
}

.welcome_container {

  #caretaker_welcome {
    display: inline;
    margin: 0 auto;
    text-align: center;
    padding-left: 130px;
    
    a {
      text-decoration: none;
      font-family: AvenirNext-Regular;
      color: white;
      border-style: solid;
      padding: 5px 15px;
    }

    a:hover {
      background-color: black;
    }
  }

  #user_welcome {
    display: inline;
    margin: 0 auto;
    text-align: center;
    padding-left: 130px; 
    
    a {
      text-decoration: none;
      font-family: AvenirNext-Regular;
      color: white;
      border-style: solid;
      padding: 5px 15px;
    }

    a:hover {
      background-color: black;
    }
  }
}
