body {
  background: #00ACC1;
}

h1#welcome {
  text-align: center;
  font-family: AvenirNext-Regular;
  font-size: 144px;
  color: #FFFFFF;
  line-height: 197px;

}

#caretaker_welcome {

  button {
   box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
   border-radius: 2px
  }
}

#user_welcome {

  button {
   box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
   border-radius: 2px
  }
}