<div id="moneta">
  <img src="/images/Moneta.png" alt="HTML5 Icon" style="width:128px;height:128px;">
</div>

<div id="moneta-goddess">
  <img src="/images/MonetaGoddess.png" alt="HTML5 Icon" style="width:128px;height:128px;">
</div>